python-dotenv~=1.1.0
sqlalchemy~=2.0.43
minio~=7.2.16
loguru~=0.7.3
starlette~=0.47.3
fastapi~=0.121.1
uvicorn~=0.35.0
pydantic~=2.12.4
openai~=1.109.1
langchain-text-splitters~=0.3.11
pymupdf4llm~=0.2.7
docling~=2.64.1
markitdown~=0.1.1
langchain-core~=0.3.77
langchain-openai~=0.3.16
langgraph~=1.0.1
torch~=2.5.1
transformers~=4.57.3
marker~=2.1.5
pymilvus~=2.6.5
langchain-community~=0.3.30
modelscope~=1.33.0