python-dotenv~=1.1.0
sqlalchemy~=2.0.43
loguru~=0.7.3
uvicorn~=0.35.0
fastapi~=0.121.1
starlette~=0.47.3
pydantic~=2.12.4
openai~=1.109.1
langchain-text-splitters~=0.3.11
docling~=2.64.1
langgraph~=1.0.1
torch~=2.5.1+cu121
transformers~=4.57.3
pymilvus~=2.6.5
modelscope~=1.33.0